<!doctype html>

<html>
    <head>
        <head>
            <link rel="stylesheet" href="css/styles.css">
        </head>
    
    </head>


    <body>
        {{>header}}

        <p>{{name}}</p>
        {{>footer}}
    </body>

</html>